<component name="libraryTable">
  <library name="springframework.spring.context1" type="repository">
    <properties maven-id="org.springframework:spring-context:5.3.39" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.3.39.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.3.39.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.3.39.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.3.39.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.3.39.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.3.39.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>